<!-- <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
 -->





<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="layout" content="main" />
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
 
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.1', {'packages':['corechart']});
 
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
 
    function drawChart() {
      $.ajax({
  url: "http://127.0.0.1:8000/Employees/",
  dataType: "json",
  }).done(function (jsonData) {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'firstname');
  data.addColumn('number', 'workinghours');
 
  data.addColumn('number', 'experience');

  jsonData.forEach(function (row) {
    data.addRow([
      row.firstname,
      row.workinghours,
      row.experience,
    ]);
  });

  var chart = new google.visualization.LineChart(document.getElementById('chartDiv'));
  chart.draw(data, {
    width: 800,
    height: 540
  });
}).fail(function (jq, text, err) {
  console.log(text + ' - ' + err);
});
    }
  </script>


  <script>
 
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.1', {'packages':['corechart']});
 
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
 
    function drawChart() {
      $.ajax({
  url: "http://127.0.0.1:8000/Employees/",
  dataType: "json",
}).done(function (jsonData) {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'firstname');
  data.addColumn('number', 'workinghours');
  data.addColumn('number', 'emp_id');

  jsonData.forEach(function (row) {
    data.addRow([
      row.firstname,
      row.workinghours,
      row.emp_id,
    ]);
  });

  var chart = new google.visualization.ColumnChart(document.getElementById('chartDiv1'));
  chart.draw(data, {
    width: 800,
    height: 540
  });
}).fail(function (jq, text, err) {
  console.log(text + ' - ' + err);
});
    }
  </script>
</head>
<body>
 
<div class="main-row" style="width: 100%;"> 
<div id="chartDiv" style="float: left;width: 48%;"></div>
<div id="chartDiv1" style="float: right;width: 48%;"></div>
<div style="clear: both;"></div>
</div>
 
     
</body>
</html>





