<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="layout" content="main" />
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
 
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.1', {'packages':['corechart']});
 
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
 
    function drawChart() {
      $.ajax({
  url: "http://127.0.0.1:8000/Employees/",
  dataType: "json",
}).done(function (jsonData) {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'firstname');
  data.addColumn('number', 'emp_id');

  jsonData.forEach(function (row) {
    data.addRow([
      row.firstname,
      row.emp_id,
    ]);
  });

  var chart = new google.visualization.PieChart(document.getElementById('chartDiv'));
  chart.draw(data, {
    width: 1200,
    height: 740
  });
}).fail(function (jq, text, err) {
  console.log(text + ' - ' + err);
});
    }
  </script>
</head>
<body>
 
 
<div id="chartDiv"></div>
 
 
     
</body>
</html>



